<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>'This app may need access to your Bluetooth connection'</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>To use that feature the app needs access to your location.</string>
    <key>DTPlatformVersion</key>
    <string>13.5</string>
    <key>DTSDKBuild</key>
    <string>17F65</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>The camera can be used to open apps by scanning a QR code.</string>
    <key>CFBundleDisplayName</key>
    <string>Make It Native</string>
    <key>TutorialResourceUrl</key>
    <string>https://docs.mendix.com/howto/</string>
    <key>GoogleMapsKey</key>
    <string>AIzaSyBqGWaarOOawCZOOoea8JfuQCrqjhquCZM</string>
    <key>DTXcodeBuild</key>
    <string>11E608c</string>
    <key>Native Binary Version</key>
    <integer>1</integer>
    <key>CFBundleIdentifier</key>
    <string>com.mendix.developerapp.native</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>SampleAppsUpdateURL</key>
    <string></string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>mailto</string>
      <string>tel</string>
    </array>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UIMainStoryboardFile</key>
    <string>LaunchTutorial</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>ReferenceGuideUrl</key>
    <string>https://docs.mendix.com/refguide/</string>
    <key>MinimumOSVersion</key>
    <string>12.0</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>'This app may need access to your Bluetooth connection'</string>
    <key>CFBundleName</key>
    <string>DeveloperApp</string>
    <key>CFBundleShortVersionString</key>
    <string>2.2.0</string>
    <key>SampleAppsUpdateToleranceInSeconds</key>
    <integer>3600</integer>
    <key>UIAppFonts</key>
    <array>
      <string>NotoSansDisplay-Bold.ttf</string>
      <string>NotoSansDisplay-Regular.ttf</string>
      <string>glyphicons-halflings-regular.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>DeveloperApp</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>SampleAppsUpdateIntervalInSeconds</key>
    <integer>86400</integer>
    <key>BuildMachineOSBuild</key>
    <string>19E287</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSCalendarsUsageDescription</key>
    <string>'This app requires access to the calendar'</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>To use that feature the app needs access to your microphone.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>To use that feature the app needs access to your location.</string>
    <key>CFBundleVersion</key>
    <string>3</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Enabling Face ID allows you quick and secure access to your account.</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLIconFile</key>
        <string></string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>makeitnative</string>
        </array>
        <key>CFBundleURLName</key>
        <string>com.mendix.developerapp.native</string>
      </dict>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos13.5</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>DTPlatformBuild</key>
    <string>17F65</string>
    <key>DTXcode</key>
    <string>1150</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>To use that feature the app needs access to your photo library.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>11E608a</string>
  </dict>
</plist>
